.row {
  position: relative;
display: flex;
padding-left: 20px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 30px;
background: linear-gradient(93deg, #1B59F5 4.11%, #7841FF 86.18%);

color: #FFF;
font-family: Roslindale;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.44px;
gap: 24px;
margin-bottom: 24px; 
box-shadow: 0 0 6.6px 3px rgba(210, 133, 184, 0.5) inset, 0 0 4px 0 rgba(255, 255, 255, 0.25), 0 0 10.2px 0 rgba(255, 255, 255, 0.25);


}
 
.row::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 30px;
  border: 4.5px solid rgba(255, 255, 255, 0.25);
  pointer-events: none;
  box-shadow: 0 0 13.6px 0 #c6b4b4 inset, 0 0 10px 0 rgba(255, 242, 125, 0.758);

}

.first::before {
  
  border-color: #E7C84B;
}

.second::before {
  border-color: #F89E5C;
}

.third::before {
  border-color: #FF7A7A;
}

.fourth::before {
  border-color: #F869C9;
}

.fifth::before {
  border-color: #F97ACF;
}


.team {
  flex: 1;
  margin-left: 16px;
}

.score {
  min-width: 40px;
  padding: 20px;
  text-align: right;
}
