.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
}

.title {

  color: #F51BAD;
  text-shadow: 0 4px 24px #e136a8;
  font-family: "FK Raster Roman Compact Trial";
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

.logo {
  display: flex;
  align-items: center;

}
