.board {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);
  column-gap: 64px;
  row-gap: 24px;
  align-items: center;
}

/* Center score vertically on middle row */
.scoreLeft {
  grid-column: 1;
  grid-row: 2;
}

.scoreRight {
  grid-column: 3;
  grid-row: 2;
}

.options {
  grid-column: 2;
  grid-row: 1 / span 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 40px;
}
.logoWrapper {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
