
.border{
    padding: 6px;
  border-radius: 18px;

  background: linear-gradient(180deg, #ff6adf, #ff2bbf);
  box-shadow:
    0 0 18px rgba(255, 77, 205, 0.9),
    inset 0 0 8px rgba(255, 153, 221, 0.55);
}
.scoreBox{
    width: 84px;
  height: 64px;

  background: linear-gradient(180deg, #3f63ff, #1b3cff);
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    inset 0 0 6px rgba(255, 255, 255, 0.45),
    0 0 12px rgba(80, 120, 255, 0.9);

font-family: "Roslindale", serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  color: #ffffff;
}